/node_modules
/public/hot
/public/storage
/.vscode
/storage/*.key
/vendor
!vendor/prettus/l5-repository/src/Prettus/Repository/Eloquent/BaseRepository.php
!vendor/prettus/l5-repository/src/Prettus/Repository/Events/RepositoryEntityCreated.php
!vendor/prettus/l5-repository/src/Prettus/Repository/Events/RepositoryEntityUpdated.php
!vendor/laravel/framework/src/Illuminate/Auth/Authenticatable.php
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
sftp-config.json
/public/img/users/*.png
composer.lock
composer.json
/.phpintel

